server:
  port: 8082

spring:
  application:
    name: consumer-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: consumer-service
    instance-id: consumer-service
    prefer-ip-address: true
    ip-address: 127.0.0.1